<h1>Forum Posts</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @posts.each do |post| %>
      <tr>
        <td class='col-md-4'><%= post.title %></td>
        <td class='col-md-5'><%= post.text.h %></td>
        <td class='col-md-1'><%= link_to 'Show', post_path(post) %> </td>
        <td class='col-md-1'><%= link_to 'Edit', edit_post_path(post) %> </td>
        <td class='col-md-1'><%= link_to 'Delete', post_path(post),
                        method: :delete,
                        data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>
